/**SVG Style Alone Start (View CSS file for CSS)**/
svg#freepik_stories-404-error-page-not-found-with-people-connecting-a-plug:not(.animated)
  .animable {
  opacity: 0;
}
svg#freepik_stories-404-error-page-not-found-with-people-connecting-a-plug.animated
  #freepik--background-complete--inject-3 {
  animation: 3s Infinite linear floating;
  animation-delay: 0s;
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.animator-hidden {
  display: none;
}

/**SVG Style Alone Start (View CSS file for CSS)**/